@page "/Products"
@using Admin.Components
@using Admin.Models;
@using Admin.Parameter;
@using Admin.Services;

<!--Content-->
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Procuct List</h2>
            <p>Here's a list of all the product on record.</p>
        </div>
        <div>
            <a href="/add-product" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            @foreach (var product in products)
            {
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="@product.Image" class="img-sm img-thumbnail" alt="Item">
                                </div>
                                <div class="info">
                                    <h6 class="mb-0">@product.Name</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span>R @product.Price</span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span>@product.Brand.Name</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-status">
                            <span>@product.Category.Name</span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                            <a href="/update-product/@product.Id.ToString()" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Update
                            </a>
                            <a href="#" class="btn btn-sm font-sm btn-light rounded">
                                <i class="material-icons md-delete_forever"></i> Delete
                            </a>
                        </div>
                    </div> <!-- row .// -->
                </article> <!-- itemlist  .// -->
            }
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-30 mb-50">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</section>
<!-- content-main end// -->

@code {
    [Inject]
    private ProductRepository ProductService { get; set; }
    private List<Product> products { get; set; } = new List<Product>();
    private MetaData MetaData { get; set; } = new MetaData();
    private QueryStringParameters _productParameters = new QueryStringParameters();

    protected async override Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts()
    {
        var pagingResponse = await ProductService.GetAll("Products", _productParameters);
        products = pagingResponse.Items;
        MetaData = pagingResponse.MetaData;
    }
    private async Task SelectedPage(int page)
    {
        _productParameters.PageNumber = page;
        await GetProducts();
    }
}
